/*************
 Grid Modification
*/

.md-typeset .grid.wide-gap {
  gap: 1rem;
}

/*************
 Cards
*/
.card-container {
  background-color: white;
  color: var(--near-black);
  border-radius: 4px;
  border: var(--card-border);
  overflow: hidden;
}

/*************
 Cards - Header
*/

.card-header {
  padding: 16px 16px 24px;
  background: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
}

.card-header p.subtitle {
  margin: 0;
  font-size: 0.8em;
  font-family: "Public Sans", system-ui, -apple-system, sans-serif;
  font-weight: 500;
  line-height: 1.57;
}

.card-header p.title {
  margin: 0;
  font-size: 1.14em;
  font-family: "Public Sans", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 2px;
}

/*************
 Cards - Media
*/

.card-media {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  object-fit: cover;
}

.card-media p {
  margin: 0;
}

/*************
 Cards - Content
*/

.card-content {
  padding: 16px;
}

.card-content p {
  margin: 0;
}

.card-content p + p {
  margin-top: 1em;
}

.card-content-title {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0;
  margin-bottom: 0.35em;
}

.card-content-title p {
  margin: 0;
}

/*************
 Cards - Actions
*/

.card-actions {
  padding: 16px;
}

.card-actions ul:not([hidden]) {
  display: flex;
  margin: 0;
}

.card-actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.card-actions.right ul {
  justify-content: flex-end;
}

.card-actions p {
  margin: 0;
}

[dir=ltr] .card-actions ul li {
  margin: 0;
}

.card-actions a {
  background-color: transparent;
  margin-top: 0;
  vertical-align: middle;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

/*************
 Cards - Tags
*/

.card-tags {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px;
}

.card-tags ul:not([hidden]) {
  display: flex;
  margin: 0;
}

.card-tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

[dir=ltr] .card-tags ul li {
  padding: 2px 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  color: var(--pre-dawn-navy);
  background-color: oklch(42% 0.065 258 / 8%);
  border-radius: 16px;
  height: 24px;
  line-height: 20px;
}

/*************
 Cards - Divider
*/

.card-divider {
  margin: 0;
  padding: 0 16px;
}

.card-divider hr {
  margin: 0;
}
